CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
.flatpak-builder
builddir
.vscode
repo
AGENTS.md
CLAUDE.md
.cache
.qmlls.ini
